body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial;
  color: black;
  font-weight: bold;
}

body h1 {
  font-size: 60px;
}

figure {
  height: 340px;
  width: 340px;
  background-color: black;
}

figure ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin:0;
}

figure ul li {
  height: 100px;
  width: 100px;
  background-color: grey;
  list-style-type: none;
  margin: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

figure ul li:hover {
  background-color: yellow;
}

figure p {
  font-size: 30px;
  text-align: center;
}
