body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

board {
  background-color: red;
  width: 600px;
  height: 900px;
  display: flex;
  flex-direction: row;
  margin:auto;
}

board ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin: 10px;
  border-bottom: 10px solid black;
  width: 180px;
  height: 200px;
  list-style-type: none;
  padding: 0 0 15px 0;
}

li {
  height:50px;
  background-color: grey;
  border-radius:25px;
  margin: 5px 0;
}
